<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Arne Huang">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>letter Jam - {% block title %}{% endblock %}</title>
</head>

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('letterjam.index') }}">Letter Jam</a>
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" href="{{ url_for('letterjam.index') }}">Start Page</a>-->
<!--                </li>-->
                {% block navitems %}{% endblock %}
            </ul>
        </div>
    </div>
</nav>

<section class="content">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}

    <!-- History Log -->
    <table class="table">
        <tr>
            <th>History Log</th>
        </tr>
        {%for history in history_log|reverse%}
        <tr>
            <td>{{history}}</td>
        </tr>
        {%endfor%}
    </table>

    <!-- Reset Button -->

    <div>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4"
                onclick="location.href='{{ url_for('letterjam.reset') }}';">Reset Game
        </button>
    </div>


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
</section>
</html>