{% extends 'base.html' %}

{% block title %}Current Status{% endblock %}

{% block content %}
{% if status.name != 'in_progress' %}
<h1> Game Status: {{status.name}}. </h1>
{% endif %}

<h1> {{player_name}}'s Board </h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
    $(document).ready(refresh_game_board);

    setInterval(refresh_game_board, 3000);

    function refresh_game_board() {
       $.ajax("{{ url_for('letterjam.game_board', player_name=player_name) }}").done(function (reply) {
                  $('#game_board').html(reply);
                  });
    };
</script>

<div id="game_board"></div>

{% if status.name == 'waiting_to_start' %}
<form method="POST" action="{{ url_for('letterjam._start_game', player_name=player_name) }}">
    <input type="submit" value="Start Game">
</form>
{% else %}

<form method="POST" action="{{ url_for('letterjam.hint', player_name=player_name) }}">
    <label for="hint">Hint:</label><br>
    <input type="text" id="hint" name="hint"><br>
    <input type="submit" value="Give Hint" onclick="confirm('Give Hint?')">
</form>
<form method="POST" action="{{ url_for('letterjam.advance', player_name=player_name) }}">
    <input type="submit" value="advance" onclick="confirm('Advance?')">
</form>

{% endif %}
{% endblock %}
