{% extends 'base.html' %}

{% block title %}Current Status{% endblock %}

{% block content %}
{% if status.name != 'in_progress' %}
<h1> Game Status: {{status.name}}. </h1>
{% endif %}

<h1> {{player}}'s Board </h1>
<table class="table">
    <thead>
    <tr>
        {%for player in table_info[0]%}
        <th>{{player}}</th>
        {%endfor%}
    </tr>
    </thead>
    <tbody>

    {% if status.name == 'in_progress' %}
    {%for row in table_info[1:]%}
    <tr>
        {%for col in row%}
        {% if col == '$' %}
        <td style="background-color:black">.</td>
        {% elif col == 'bonus' %}
        <td style="background-color:brown">.</td>
        {% else %}
        <script>
        console.log("{{col}}");

        </script>
        <td>{{col}}</td>
        {% endif %}
        {%endfor%}
    </tr>
    {%endfor%}
    {% else %}
    <tr>
        {%for player in table_info[0]%}
        <td>Joined</td>
        {%endfor%}
    </tr>
    {% endif %}
    </tbody>
</table>
{% if status.name == 'waiting_to_start' %}
<form method="POST" action="{{ url_for('letterjam._start_game', player=player) }}">
    <input type="submit" value="Start Game">
</form>
{% else %}

<form method="POST" action="{{ url_for('letterjam.hint', player=player) }}">
    <label for="hint">Hint:</label><br>
    <input type="text" id="hint" name="hint"><br>
    <input type="submit" value="Give Hint">
</form>
<form method="POST" action="{{ url_for('letterjam.advance', player=player) }}">
    <input type="submit" value="advance">
</form>

{% endif %}
{% endblock %}
