{% extends 'base.html' %}

{% block title %}Start Page{% endblock %}
{% block navitems %}
{% if status.name == 'in_progress' %}
{% for a_player in players%}
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for('letterjam.current_status', player=a_player)}}">{{a_player}}'s Board</a>
</li>
{%endfor%}
{% endif %}
{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Letter Jam</h1>
    <h2 class="display-5 fw-bold"> Game Status: {{status.name}}. </h2>
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <form method="POST" action="{{ url_for('letterjam.add_player') }}">
                <label for="player">Player:</label><br>
                <input type="text" id="player" name="player"><br>
                <label for="word">Word:</label><br>
                <input type="text" id="word" name="word"> <br>
                <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Add Player</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
